$primary: #581845;
$secondary: #F6F7A6;
$gryff-main: #7f0909;
$gryff-sec: #ffc500;
$huff-main: #F4DF29;
$huff-sec: #0E0D02;
$raven-main: #060B50;
$raven-sec: #C1740D;
$slyth-main: #1E740F;
$slyth-sec: #EFF2EE;

$bp-sm: 300px;
$bp-md: 648px;
$bp-lg: 900px;
$bp-xl: 1200px;

/*
 * *********** RESET ***********
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
	line-height: 1.5;
	height: 100%
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
	font-family: 'Gupter', serif;
	color: $primary;
	font-size: 16px;
}

a {
	color: lighten($primary, 30%);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/*
 * *********** APP CONTAINER ***********
 */
#root {height:100%}

/*
 * *********** UTILITIES ***********
 */
.row {
	display: flex;
}
hr {
	margin-top: 35px;
	margin-bottom: 35px;
}

/*
 * *********** NAVBAR ***********
 */

#Navbar {
	display: flex;
	padding: 6px 16px;
	color: $secondary;
	background-color: $primary;
	justify-content: space-between;

	.title {
		font-size: 2.8rem;
	}
	div {
		margin-top: auto;
		margin-bottom: auto;
	}
	.navigation {
		ul {
			display:flex;
			list-style: none;

			li {
				margin-left: 1rem;
				&:first-child {
					margin-left: 0;
				}

				a {
					color: $secondary;
					padding: 5px;

					&:hover {
						text-decoration: none;
						box-shadow: 0px 10px 5px -5px rgba(33,9,26,0.4);
					}
				}
			}
		}
	}
	.hamburger-container {
			cursor: pointer;
			display: none;

		#close-hamburger-menu {
			float: right;
			padding: 10px 15px;;
			font-size: 2rem;
			cursor: pointer;
		}
		#hamburger-container {
			cursor: pointer;
		}
		#hamburger-menu {
			background-color: $primary;
			position: absolute;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100vw;
			display: none;

			ul {
				margin-top: 20vh;
				li {
					list-style: none;
					font-size: 2rem;
					text-align: center;
					margin-top: 12px;
				}
			}

			a {
				color: $secondary;
				padding: 5px;

				&:hover {
					text-decoration: none;
					box-shadow: 0px 10px 5px -5px rgba(33,9,26,0.4);
				}
			}
		}
	}
}

@media (max-width: $bp-md) {
	#Navbar {
		.hamburger-container {
			display: block;

			#hamburger-menu.open {
				display:block;
			}
		}
		.navigation {
			display: none;
		}
	}
}

/*
 * *********** PAGE WRAPS ***********
 */
 #wrap {
	 margin: 15px 20px;
	 text-align: center;
	 height: 100%;
 }
 .page-SortingHat {
	 .content {
		 margin-top: 250px;
		 height: 100%;
	 }
	 h2 {
		 font-size: 6rem;

		 &.Slytherin {
			background-color: $slyth-main;
			color: $slyth-sec;
		 }
		 &.Gryffindor {
			background-color: $gryff-main;
			color: $gryff-sec;
		 }
		 &.Hufflepuff {
			background-color: $huff-main;
			color: $huff-sec;
		 }
		 &.Ravenclaw {
			background-color: $raven-main;
			color: $raven-sec;
		 }
	 }
 }
 .page-Characters {
	 margin: auto;
	 width: 50%;
	 text-align: center;
	 font-size: 20px;
 }
@media (max-width: $bp-md) {
	.page-Characters {
		width: 100%;
	}
}
.page-Spells {
	margin: auto;
	width: 50%;
	text-align: center;
	font-size: 20px;
}
@media (max-width: $bp-md) {
 .page-Spells {
	 width: 100%;
 }
}
 /*
 * *********** CHARACTERS PAGE ***********
 */
 .character-wrap {
	 border: 1px solid $primary;
	 border-radius: 5px;
	 margin-bottom: 20px;
	 padding: 10px;
	 text-align: center;
	 -webkit-box-shadow: 5px 5px 5px 0px rgba(88,24,69,0.3);
	 -moz-box-shadow: 5px 5px 5px 0px rgba(88,24,69,0.3);
	 box-shadow: 5px 5px 5px 0px rgba(88,24,69,0.3);
 }
 .page-Characters .character-wrap .row {
	 justify-content: center;
	 text-align: center;
 }
 /*
 * *********** SPELLS PAGE ***********
 */
 .spell-wrap {
	border: 1px solid $primary;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(88,24,69,0.3);
	-moz-box-shadow: 5px 5px 5px 0px rgba(88,24,69,0.3);
	box-shadow: 5px 5px 5px 0px rgba(88,24,69,0.3);
}
.page-Spells .spell-wrap .row {
	justify-content: center;
	text-align: center;
}